.container{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px sold rgba(255, 255, 255, 0.2);
    padding: 20px 40px 65px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .input-field{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.input-field input {
    width: 100%;
    height: 35px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px;
}

.select-field select option{
    background-color: black;
}

.select-field select {
    width: 100%;
    height: 44px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    appearance: none;
    margin-bottom: 10px;
    padding: 10px 25px 10px 20px;
}

.select-field .icon{
    position: absolute;
    right: 65px;
    top: 48.6%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.input-field input::placeholder{
    color: #fff;
}

.input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.container button {
    width: 30%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    position: absolute;
    right: 160px;
    
}

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #201a1a; /* or add it to the track */
}

.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: gray;
  }